<div class="chat-container">

    <div class="chat-card">

        <h1 class="titulo">

            💬 Sala Global

        </h1>

        <div class="mensajes">

            @for(
            msg of mensajes();
            track msg.id
            ){

            <div
            class="mensaje"

            [class.propio]="
            msg.email===usuario?.email
            ">

                <div class="usuario">

                    {{msg.nombre}}
                    {{msg.apellido}}

                </div>

                <div class="texto">

                    {{msg.mensaje}}

                </div>

                <div class="hora">

                    {{
                    msg.fecha
                    |
                    date:'HH:mm'
                    }}

                </div>

            </div>

            }

        </div>


        <div class="input-area">

            <input

            class="input-chat"

            [ngModel]="mensaje()"

            (ngModelChange)="
            mensaje.set($event)
            "

            placeholder="Escribir mensaje..."

            >

            <button

            class="btn-enviar"

            (click)="enviar()"

            >

            ➤

            </button>

        </div>

    </div>

</div>