<div class="chat-container">
  <div class="chat-card">
    <h1 class="titulo">💬 Sala Global</h1>
    <!-- muestro los mensajes -->
    <div class="mensajes">
      @for (msg of mensajes(); track msg.id) {
        <!-- si el mensaje es del usuario actual se muestra diferente -->
        <div class="mensaje" [class.propio]="msg.email === usuario?.email">
          <div class="usuario">
            {{ msg.nombre }}
            {{ msg.apellido }}
          </div>

          <div class="texto">
            {{ msg.mensaje }}
          </div>

          <div class="hora">
            {{ msg.fecha | date: 'HH:mm' }}
          </div>
        </div>
      }
    </div>

    <div class="input-area">
        <!-- ngmodel mensaje actual del signal mensaje, modelchange cambia cuando el usuario escribe -->
      <input
        class="input-chat"
        [ngModel]="mensaje()"
        (ngModelChange)="mensaje.set($event)"
        placeholder="Escribir mensaje..."
      />

      <button class="btn-enviar" (click)="enviar()">➤</button>
    </div>
  </div>
</div>
