<header class="navbar-gamer">

  <div class="navbar-container">

    <div class="nav-links">

      <a routerLink="/home"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }"
         class="nav-btn">
        Home
      </a>

      <a routerLink="/quien-soy"
         routerLinkActive="active"
         class="nav-btn">
        Quién soy
      </a>

      @if (!user()) {

        <a routerLink="/login"
           routerLinkActive="active"
           class="nav-btn">
          Login
        </a>

        <a routerLink="/registro"
           routerLinkActive="active"
           class="nav-btn">
          Registro
        </a>

      }

      @if (user()) {

        <button class="nav-btn logout" (click)="logout()">
          Logout
        </button>

      }

    </div>

  </div>

</header>