<section class="auth-page d-flex justify-content-center align-items-center min-vh-100 px-3">
  <div class="auth-card">

    <h1 class="h3 text-center mb-3">Iniciar sesión</h1>

    <p class="text-light text-center mb-4">
      Accedé a tu cuenta para continuar 🎮
    </p>

    <!--  BOTONES LOGIN RÁPIDO -->
    <div class="mb-4 d-grid gap-2">

      <button type="button" class="btn btn-outline-light"
        (click)="setQuickLogin('juan@test.com')">
        ⚡ Login rápido - Juan
      </button>

      <button type="button" class="btn btn-outline-light"
        (click)="setQuickLogin('maria@test.com')">
        ⚡ Login rápido - María
      </button>

      <button type="button" class="btn btn-outline-light"
        (click)="setQuickLogin('admin@test.com')">
        ⚡ Login rápido - Admin
      </button>

    </div>

    <form [formGroup]="loginForm" (ngSubmit)="enviarDatos()">

      <!--  EMAIL -->
      <div class="mb-4">
        <label class="form-label">Correo electrónico</label>
        <input
          type="email"
          class="form-control"
          formControlName="email"
          placeholder="name@example.com"
        />

        @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
          <div class="text-danger mt-1">
            Email inválido
          </div>
        }
      </div>

      <!--  PASSWORD -->
      <div class="mb-4">
        <label class="form-label">Contraseña</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
          placeholder="Contraseña"
        />

        @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
          <div class="text-danger mt-1">
            Mínimo 6 caracteres
          </div>
        }
      </div>

      <!--  BOTÓN -->
      <button
        type="submit"
        class="btn btn-dark btn-lg w-100"
        [disabled]="loginForm.invalid"
      >
        Iniciar sesión
      </button>

    </form>
  </div>
</section>

<!--  BOOTSTRAP MODAL -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-light">

      <div class="modal-header">
        <h5 class="modal-title">Aviso</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        {{ modalMessage }}
      </div>

      <div class="modal-footer">
        <button class="btn btn-outline-light" data-bs-dismiss="modal">
          OK
        </button>
      </div>

    </div>
  </div>
</div>